.container-page {
    display: flex;
    flex-direction: row;
    background-color: var(--color-bg);
    transition: 0.4s ease, color 0.4s ease;
}

.side-menu {
    background-color: var(--color-bg);
    max-width: 75px;
    min-height: 100vh;
    padding: 0 2rem 2rem 0;
    transition: .4s;
    box-shadow: 3px 0 10px 0 var(--shadow-light);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    transition: .5s;
    z-index: 10;
}

.side-menu:hover {
    max-width: 22rem;
}

.logo {
    padding-left: 1rem;
}

.logo img{
    filter: var(--img-shiny);
}

.logo li a {
    width: 15rem;
}

.logo h3,
.logo li a {
    color: var(--color-navy-blue);
    font-weight: 600;
    font-size: var(--font-default-size);
    margin-top: .5rem;
    text-wrap: wrap;
    letter-spacing: .25px;
    line-height: 1.25;
}

.logo h3 {
    display: none;
    width: 20rem !important;
    transition: opacity 0.5s;
}

.side-menu:hover .logo h3,
.logo {
    display: block;
    opacity: 1;
    text-align: center;
    margin: 1rem 0;
    width: 100%;
}

.menu-tabs ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    gap: 3rem;
    padding: 0;

}

.item-menu {
    width: 0;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    transition: .5s;
}

.item-menu:hover {
    width: 0;
    background-color: var(--color-navy-blue-menu);
    border-radius: 0 4rem 4rem 0;
}

.side-menu:hover .item-menu:hover {
    width: 100%;
}

.item-menu a img{
    filter: var(--img-shiny);

}

.menu-tabs a {
    width: 20rem;
    height: 6rem;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding-left: 2rem;
    gap: 2.6rem;
    align-items: center;
    list-style: none;
    color: var(--color-navy-blue);
    font-weight: 600;
    text-decoration: none;
    text-wrap: wrap;
    transition: 1s;
}

.menu-tabs a:hover {
    color: var(--color-pearl);
}

.dash-icon {
    width: 30px;
    height: 27px;
    margin: 0 .5rem 0 .2rem;
}

.up-icon {
    height: 30px;
}

.comp-icon {
    height: 35px;
    margin: 0 .7rem 0 .4rem;
}

.down-btn-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
}

.down-btn-menu img {
    height: 2.5rem;
}

.config-btn {
    width: 25%;
    height: 4rem;
    margin-left: .5rem;
    display: flex;
    align-items: center;
    filter: var(--img-shiny);
}

.arrow-left {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    filter: var(--img-shiny);
}

.arrow-right {
    display: none;
    filter: var(--img-shiny);
}

.side-menu:hover .arrow-left {
    display: none;
}

.side-menu:hover .arrow-right {
    display: flex;
    justify-content: flex-end;
}

.break-line {
    background-color: rgba(197, 196, 196, 30%);
    height: .5rem;
    border-radius: 3rem;
}